# IDE and Editor files
.idea/
.vscode/
*.iml

# Maven build artifacts
target/
.mvn/
mvnw
mvnw.cmd

# Environment variables and secrets
.env*
!.env.example

# Runtime assets
images/
sql-script/

# Git
.git/
.gitignore
.gitattributes

# Misc
HELP.md
docker-compose.yml
Dockerfile
